@font-face {
  font-family: SpaceGrotesk;
  src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

* {
  font-family: SpaceGrotesk;
}

select {
  height:10vw;
  font-size:5vw;
}

input {
  height:5vw;
  width:5vw;
  font-size:5vw;
}

input.texter {
  height:5vw;
  width:15vw;
  font-size:5vw;
  touch-action: manipulation;
}

input.checkbox {
  height:5vw;
  width:5vw;
  touch-action: manipulation;
}

input.commenter {
  height:auto;
  width:80vw;
  font-size:5vw;
  touch-action: manipulation;
}

input.button {
  height:10vw;
  width:10vw;
  touch-action: manipulation;
}

.button {
  height: 60px;
  width: 60px;
  font-size:5vw;
  touch-action: manipulation;
  border-radius: 50%;
}

.buttonCone {
  height: 60px;
  width: 60px;
  font-size:5vw;
  touch-action: manipulation;
  border-radius: 50%;
  background-color: rgb(250, 237, 62);
  border-color: rgb(250, 237, 62);
  margin: 10px;
}

.buttonCube {
  height: 60px;
  width: 60px;
  font-size: 5vm;
  touch-action: manipulation;
  border-radius: 50%;
  background-color: rgb(107, 66, 201);
  border-color: rgb(107, 66, 201);
  margin: 10px;
}

.final {
  font-size:5vw;
  border-radius: 10%;
}

h1, h4 {
  color: rgb(236, 127, 26);
}

body {
  background-color: rgb(128, 45, 45);
  color: black;
  /*font-family: 'Akshar', sans-serif;*/
  padding: 1vw;
}

#preDiv, #teleDiv {
  background-color: rgb(255, 255, 255);
}

#autoDiv, #postDiv {
  background-color: rgb(255, 255, 255);
}

p {
  padding: 1vw;
}

h2 {
  text-decoration: underline;
  padding-top: 1em;
}

#submitBtn {
  height: 200px;
  width: 400px;
  font-size: 2em;
  background-color: white;
}


#resetBtn {
  height: 30px,;
  width: 100px;
  font-size: 1em;
  background-color: white;
}

textarea {
  width: 75vw;
  height: 20vw;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid black;
  margin-bottom: 4em;
}
