@font-face {
  font-family: SpaceGrotesk;
  src: url(SpaceGrotesk-VariableFont_wght.ttf);
}

* {
  font-family: SpaceGrotesk;
}

select {
  height:10vw;
  font-size:5vw;
}

input {
  height:5vw;
  width:5vw;
  font-size:5vw;
}

input.texter {
  height:5vw;
  width:15vw;
  font-size:5vw;
  touch-action: manipulation;
}

input.checkbox {
  height:5vw;
  width:5vw;
  touch-action: manipulation;
}

input.commenter {
  height:auto;
  width:80vw;
  font-size:5vw;
  touch-action: manipulation;
}

input.button {
  height:10vw;
  width:10vw;
  touch-action: manipulation;
}

.button {
  font-size:5vw;
  touch-action: manipulation;
  border-radius: 50%;
  padding: 20px;
}

.final {
  font-size:5vw;
  border-radius: 10%;
}

h1, h4 {
  color: rgb(236, 127, 26);
}

body {
  background-color: rgb(128, 45, 45);
  color: black;
  /*font-family: 'Akshar', sans-serif;*/
  padding: 1vw;
}

#preDiv, #teleDiv {
  background-color: rgb(204, 204, 204);
}

#autoDiv, #postDiv {
  background-color: rgb(204, 204, 204);
}

p {
  padding: 1vw;
}

h2 {
  text-decoration: underline;
  padding-top: 1em;
}

#submitBtn {
  height: 2.5em;
  width: 4.5em;
  font-size: 2em;
}


#resetBtn {
  height: 3em,;
  width: 4em;
  font-size: 1em;
}

textarea {
  width: 75vw;
  height: 20vw;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid black;
  margin-bottom: 4em;
}

.cubes {
  color: purple;
  font-weight: bold;
}

.cones {
  color: rgb(226, 160, 8);
  font-weight: bold;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  border-right: 0.25px solid black;
  border-left: 0.25px solid black;
}
