@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");
@import "dark-theme.css";
@import "light-theme.css";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--primary-text-color);
  background: var(--background-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.main-content {
  display: block;
  margin-top: 70px;
  padding: 2rem;
  flex: 1 1 auto;
  width: 100%;
}

/* Table styling */

table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px var(--table-shadow-color);
  text-align: center;
  /* Use margin: auto; to prevent table from being cut off in flex views. */
  margin: auto;
}

thead tr {
  background-color: var(--table-header-background-color);
  color: var(--table-header-text-color);
  text-align: center;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: thin solid var(--table-row-border-color);
}

tbody tr:nth-of-type(odd) {
  background-color: var(--table-odd-row-background);
}

tbody tr:nth-of-type(even) {
  background-color: var(--table-even-row-background);
}

tbody tr:last-of-type {
  border-bottom: thick solid var(--accent-color);
}

.data-tile {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  padding: 20px;
  background-color: var(--tile-background-color);
  border-radius: 10px;
  margin: 15px;
  overflow: scroll;

  /* Taken from https://codyhouse.co/nuggets/beautiful-css-shadows */
  /* 1. inner glow - for dark mode 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring  */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.scout-form-tile {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  padding: 20px 5px;
  background-color: var(--tile-background-color);
  border-radius: 10px;
  overflow: scroll;

  /* Taken from https://codyhouse.co/nuggets/beautiful-css-shadows */
  /* 1. inner glow - for dark mode 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring  */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.graph-tile {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  padding: 20px;
  background-color: var(--tile-background-color);
  border-radius: 10px;
  margin: 15px;
  overflow: scroll;

  /* Taken from https://codyhouse.co/nuggets/beautiful-css-shadows */
  /* 1. inner glow - for dark mode 👇 */
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
    /* 2. shadow ring  */
    0 0 0 1px hsla(230, 13%, 9%, 0.075),
    /* 3. multiple soft shadows */
    0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

.analysis-row-tile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: safe center;
  justify-content: safe center;
}

.comment-tile {
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: safe center;
  padding: 20px;
  border-color: var(--comment-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  margin: 15px;
  overflow: scroll;
}